In [ ]:
!pip install mysql-connector-python

In [1]:
from tkinter import *
import tkinter.messagebox as tkMessageBox
import mysql.connector
from mysql.connector import Error

In [2]:
root = Tk()
root.title("IdeasNetwork - Basic Registration Form")
 
width = 640
height = 480
screen_width = root.winfo_screenwidth()
screen_height = root.winfo_screenheight()
x = (screen_width/2) - (width/2)
y = (screen_height/2) - (height/2)
root.geometry("%dx%d+%d+%d" % (width, height, x, y))
root.resizable(0, 0)

''

In [3]:
#=======================================VARIABLES=====================================
USER = StringVar()
PASS = StringVar()
NAME = StringVar()
ADDRESS = StringVar()

In [4]:
#=======================================METHODS=======================================
def Database():
    global conn, cursor
    conn = mysql.connector.connect(host='localhost',
                                         database='registerdb',
                                         user='root',
                                         password='')
    cursor = conn.cursor()
def Exit():
    result = tkMessageBox.askquestion('System', 'Are you sure you want to exit?', icon="warning")
    if result == 'yes':
        root.destroy()
        exit()


def Register():
    Database()
    if USER.get == "" or PASS.get() == "" or NAME.get() == "" or ADDRESS.get == "":
        lbl_result.config(text="Please complete the required field!", fg="orange")
    else:
        cursor.execute("SELECT * FROM `user` WHERE `user` = %s", [USER.get()])
        if cursor.fetchone() is not None:
            lbl_result.config(text="Username is already taken", fg="red")
        else:
            cursor.execute("INSERT INTO `user` (user, pass, name, address) VALUES(%s, %s, %s, %s)", (str(USER.get()), str(PASS.get()), str(NAME.get()), str(ADDRESS.get())))
            conn.commit()
            USER.set("")
            PASS.set("")
            NAME.set("")
            ADDRESS.set("")
            lbl_result.config(text="Successfully Created!", fg="green")
        cursor.close()
        conn.close()

In [5]:
#=====================================FRAMES====================================
TitleFrame = Frame(root, height=100, width=640, bd=1, relief=SOLID)
TitleFrame.pack(side=TOP)
RegisterFrame = Frame(root)
RegisterFrame.pack(side=TOP, pady=20)

In [6]:
#=====================================LABEL WIDGETS=============================
lbl_title = Label(TitleFrame, text="IdeasNetwork - Basic Registration Form", font=('arial', 18), bd=1, width=640)
lbl_title.pack()
lbl_username = Label(RegisterFrame, text="Username:", font=('arial', 18), bd=18)
lbl_username.grid(row=1)
lbl_password = Label(RegisterFrame, text="Password:", font=('arial', 18), bd=18)
lbl_password.grid(row=2)
lbl_firstname = Label(RegisterFrame, text="Name:", font=('arial', 18), bd=18)
lbl_firstname.grid(row=3)
lbl_lastname = Label(RegisterFrame, text="Surname:", font=('arial', 18), bd=18)
lbl_lastname.grid(row=4)
lbl_result = Label(RegisterFrame, text="", font=('arial', 18))
lbl_result.grid(row=5, columnspan=2)

In [7]:
#=======================================ENTRY WIDGETS===========================
user = Entry(RegisterFrame, font=('arial', 20), textvariable=USER, width=15)
user.grid(row=1, column=1)
pass1 = Entry(RegisterFrame, font=('arial', 20), textvariable=PASS, width=15, show="*")
pass1.grid(row=2, column=1)
name = Entry(RegisterFrame, font=('arial', 20), textvariable=NAME, width=15)
name.grid(row=3, column=1)
address = Entry(RegisterFrame, font=('arial', 20), textvariable=ADDRESS, width=15)
address.grid(row=4, column=1)

In [8]:
#========================================BUTTON WIDGETS=========================
btn_register=Button(RegisterFrame, font=('arial', 20), text="Register", command=Register)
btn_register.grid(row=6, columnspan=2)

In [9]:
#========================================MENUBAR WIDGETS==================================
menubar = Menu(root)
filemenu = Menu(menubar, tearoff=0)
filemenu.add_command(label="Exit", command=Exit)
menubar.add_cascade(label="File", menu=filemenu)
root.config(menu=menubar)

In [10]:
#========================================INITIALIZATION===================================
if __name__ == '__main__':
    root.mainloop()

Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\ndivh\anaconda3\envs\STK 353\lib\site-packages\mysql\connector\connection_cext.py", line 246, in _open_connection
    self._cmysql.connect(**cnx_kwargs)
_mysql_connector.MySQLInterfaceError: Can't connect to MySQL server on 'localhost:3306' (10061)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\ndivh\anaconda3\envs\STK 353\lib\tkinter\__init__.py", line 1892, in __call__
    return self.func(*args)
  File "<ipython-input-4-1cef787b8767>", line 17, in Register
    Database()
  File "<ipython-input-4-1cef787b8767>", line 4, in Database
    conn = mysql.connector.connect(host='localhost',
  File "C:\Users\ndivh\anaconda3\envs\STK 353\lib\site-packages\mysql\connector\__init__.py", line 272, in connect
    return CMySQLConnection(*args, **kwargs)
  File "C:\Users\ndivh\anaconda3\envs\STK 353\lib\site-packages\mysql\connector\connection_cext.py", line 94, in __init__
    self.connect(**kwargs)
  File "C:\Users\ndivh\anaconda3\envs\STK 353\lib\site-packages\mysql\connector\abstracts.py", line 1052, in connect
    self._open_connection()
  File "C:\Users\ndivh\anaconda3\envs\STK 353\lib\site-packages\mysql\connector\connection_cext.py", line 251, in _open_connection
    raise errors.get_mysql_exception(msg=exc.msg, errno=exc.errno,
mysql.connector.errors.DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\ndivh\anaconda3\envs\STK 353\lib\site-packages\mysql\connector\connection_cext.py", line 246, in _open_connection
    self._cmysql.connect(**cnx_kwargs)
_mysql_connector.MySQLInterfaceError: Can't connect to MySQL server on 'localhost:3306' (10061)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\ndivh\anaconda3\envs\STK 353\lib\tkinter\__init__.py", line 1892, in __call__
    return self.func(*args)
  File "<ipython-input-4-1cef787b8767>", line 17, in Register
    Database()
  File "<ipython-input-4-1cef787b8767>", line 4, in Database
    conn = mysql.connector.connect(host='localhost',
  File "C:\Users\ndivh\anaconda3\envs\STK 353\lib\site-packages\mysql\connector\__init__.py", line 272, in connect
    return CMySQLConnection(*args, **kwargs)
  File "C:\Users\ndivh\anaconda3\envs\STK 353\lib\site-packages\mysql\connector\connection_cext.py", line 94, in __init__
    self.connect(**kwargs)
  File "C:\Users\ndivh\anaconda3\envs\STK 353\lib\site-packages\mysql\connector\abstracts.py", line 1052, in connect
    self._open_connection()
  File "C:\Users\ndivh\anaconda3\envs\STK 353\lib\site-packages\mysql\connector\connection_cext.py", line 251, in _open_connection
    raise errors.get_mysql_exception(msg=exc.msg, errno=exc.errno,
mysql.connector.errors.DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)